header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

h3 {
  margin: 0.5em 0 0 0;
}

p {
  margin: 0.5em 0 0 0;
}

ul {
  margin: 0;
  display: flex;
  list-style-type: none;
  padding: 0;
  gap: 3em;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  border: 2px solid var(--text);
  padding: 5px;
}

.card:hover {
  outline: 2px solid var(--text);
}

.card > img {
  width: 250px;
  height: 400px;
  object-fit: cover;
}

.card > p {
  margin-top: auto;
  padding-top: 5px;
}

.clearBtn {
  font-size: 1em;
  width: fit-content;
  padding: 0.2em 1em;
  border-radius: 0.5em;
  cursor: pointer;
}

.spacer {
  width: 100%;
  height: 1px;
  background-color: var(--border);
  margin: 1em 0;
}

main > ul,
main > p {
  text-align: left;
  padding: 0 3em;
  list-style-type: circle;
  flex-direction: column;
  gap: 0;
}

footer > ul {
  margin: 0.5em 0;
  display: flex;
  justify-content: space-evenly;
}
