h2 {
  margin: 0.5em;
}

p {
  margin: 0;
}

ul {
  margin: 0 auto;
  display: flex;
  list-style-type: none;
  padding: 0;
  gap: 3em;
}

.card {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  border: 2px solid var(--text);
  padding: 5px;
}

.card:hover {
  outline: 2px solid var(--text);
  transition: all 0.3s;
}

.card > img {
  width: 250px;
}

.card > p {
  margin-top: auto;
  padding-top: 5px;
}
